body {
    font-family: sans-serif;
    background: #f1f5f8;
}

#btn {
    border-top: 3px solid #69b5ec;
    border-left: 3px solid #69b5ec;
    border-bottom: 3px solid #36709a;
    border-right: 3px solid #36709a;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    background: #eaf5fe;
    color: #6db1ea;
    font-weight: bold;
}

h1 {
    color: #0f2a41;
    letter-spacing: 2px;
    font-size: 36px;
    margin-bottom: 30px;
}