body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100vw;
    height: 5vh;
    display: grid;
    place-items: center;
}

nav a {
    padding: 15px;
}

header {
    width: 100vw;
    height: 95vh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    background-image: url('https://github.com/Ascoding2022/Ascoding2022.github.io/blob/main/background.jpg?raw=true');
    color: black;
}

.titletext {
    font-size: 50px;
}
